<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.arcadyan.factorybarcode" android:installLocation="auto" android:versionName="1.5" android:versionCode="6">
	<uses-sdk android:minSdkVersion="16" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<application android:label="HTML5Barcode" android:icon="@drawable/icon512"></application>
</manifest>